#root
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Gridcontainer.css */

.container {
    display: grid;
    transform: scale(0.85);
    grid-template-columns: repeat(4, 1fr); /* 3 months per row */
    gap: 10px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #8cc48c;
    color: white;
    min-height: 200px; 
    border-radius: 8px;
  }

  
 
  